[user]
	email = graydoncharlescory@gmail.com
	name = Graydon Cory
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
